api/.DS_Store
api/node_modules
api/dist
*.pt

api/public

# local env files
api/.env.local
api/.env.*.local

# Log files
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/pnpm-debug.log*

# Editor directories and files
api/.idea
api/.vscode
api/*.suo
api/*.ntvs*
api/*.njsproj
api/*.sln
api/*.sw?
venv
api/webapi/recomendation/songs_features.csv
__pycache__
*.DS_Store
api/webapi/recomendation/rec_sys.csv
vk_audio_downloader/chromedriver